@using Microsoft.AspNet.Identity
@using Wazifa.Models

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">

            @if (User.IsInRole(RoleName.Admins))
            {
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <b>الإدارة</b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("المستخدمين", "Index", "Users")</li>
                        <li>@Html.ActionLink("المجموعات", "Index", "Roles")</li>
                        <li>@Html.ActionLink("إضافة مستخدم لمجموعة", "AddUserToRole", "Users")</li>
                    </ul>
                </li>
            }

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <!-- change this icon with user img -->
                    <i class="glyphicon glyphicon-user"></i>
                    <b>@User.Identity.GetUserName()</b>
                </a>
                <ul class="dropdown-menu">

                    @if (User.IsInRole(RoleName.Admins))
                    {
                        <li><a href="/Jobs/MyPublishedJobs"><i class="glyphicon glyphicon-folder-close"></i> وظائفي المنشورة</a></li>
                        <li><a href="/Apply/MyAppliesJobs"><i class="glyphicon glyphicon-folder-close"></i> وظائفي المقدم إليها</a></li>
                    }
                    else if (User.IsInRole(RoleName.Publishers))
                    {
                        <li><a href="/Jobs/MyPublishedJobs"><i class="glyphicon glyphicon-folder-close"></i> وظائفي المنشورة</a></li>
                    }
                    else if (User.IsInRole(RoleName.Researchers))
                    {
                        <li><a href="/Apply/MyAppliesJobs"><i class="glyphicon glyphicon-folder-close"></i> وظائفي المقدم إليها</a></li>
                    }

                    <li role="separator" class="divider"></li>
                    <li><a href="/Users/Account/@User.Identity.GetUserId()"><i class="glyphicon glyphicon-bookmark"></i>حسابي</a></li>
                    <li><a href="/Manage/Index"><i class="glyphicon glyphicon-edit"></i> تعديل حسابي</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="glyphicon glyphicon-log-out"></i> تسجيل الخروج</a></li>
                </ul>
            </li>

        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("حساب جديد", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("تسجيل الدخول", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}